{:deps {io.github.getcolors/green      {:git/url "https://github.com/getcolors/green.git"
                                      :git/sha "7f1f94463ac7914598db419ac221546fb7e3cbec"}
        io.github.getcolors/once {:local/root "."}}}
