{:deps {io.github.getcolors/green      {:git/url "https://github.com/getcolors/green.git"
                                      :git/sha "a918861cfb4d7958cf37fd0c8d2e19e0da5b6f47"}
        io.github.getcolors/once {:local/root "."}}}
